<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<h1 th:text="#{locale.cars}"></h1>

<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<style type="text/css">
    TABLE {
        width: 300px;
        border-collapse: collapse;
    }

    TD, TH {
        padding: 2px;
        border: 2px solid black;
    }

    TH {
        background: #b0e0e6;
    }
</style>
<body>
<table>

    <tr>

        <th th:text="#{name}">Name</th>

        <th th:text="#{model}">Model</th>
    </tr>
    <tr th:each="car : ${listCars}">
        <td><span th:text="${car.name}"> Name </span></td>
        <td><span th:text="${car.model}"> Model </span></td>
    </tr>
</table>
</body>
</html>